In [ ]:
#Program to access the details of a student

name=input("Enter the name ")
rno=int(input("Enter the roll number  "))
mark=int(input("Enter the mark "))
print("Name:",name)
print("Roll Number:",rno)
print("Mark:",mark)

Enter the name MEERA
Enter the roll number  2
Enter the mark 34
Name: MEERA
Roll Number: 2
Mark: 34

In [ ]:
# program to covert fahrenheit to celsius

fh=int(input("Temperature in Fahrenheit = "))
cels=int(((fh-32)*5)/9)
print("Temperature in celsius = ",cels)

Temperature in Fahrenheit = 41
Temperature in celsius =  5

In [ ]:
# program to find the product of two numbers

a=int(input("Enter the first number "))
b=int(input("Enter the second number "))
c=a*b
print("product of two numbers is ",c)

Enter the first number 16
Enter the second number 2
product of two numbers is  32

In [2]:
#  string concatenation

str1=" learn python by Developing a website"
str1[0]
Str2="learn**python**by**developing**a**website"
str1
Str2

'learn+**python**by**developing**a**website'

In [ ]:

#area of a circle 

pi=3.14
r=int(input("enter the radius of the circle"))
area=pi*r**2
print("the area of the circle is ",area)

enter the radius of the circle5
the area of the circle is  78.5

In [3]:

# inserting elements in to a list

l1=[4,8,'hello',75]
print (l1)
value=input("enter the element to be inserted  ")
pos=int(input("enter the position "))
l1.insert(pos,value)
l1

[4, 8, 'hello', 75]
enter the element to be inserted  55
enter the position 1

[4, '55', 8, 'hello', 75]

In [ ]:

#program to change the key in a given dictionary 

sample_dict={"name":"john","age":5,"salary":8000,"city":"Newyork"}
print("before change. ",sample_dict)
sample_dict['location']=sample_dict.pop('city')
print("After change. ",sample_dict)

before change.  {'name': 'john', 'age': 5, 'salary': 8000, 'city': 'Newyork'}
After change.  {'name': 'john', 'age': 5, 'salary': 8000, 'location': 'Newyork'}

In [ ]:

#program to change the salary of emp3 in a dictionary 

sample_dict={'emp1':{'name':'john','salary':7500},
'emp2':{'name':'emma','salary':8000},
'emp3':{'name':'brad','salary':500}}
print(sample_dict)
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'john', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'brad', 'salary': 500}}
{'emp1': {'name': 'john', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'brad', 'salary': 8500}}

In [ ]:

# copy 43 and 54 in to a new tuple

tuple1=(10,20,43,54,56,68)
Tuple2=(tuple1[2],tuple1[3])
Tuple2

(43, 54)

In [ ]:

#program to count the occurrence of 50

tuple1=(50,10,60,70,50,83,567,50,81)
tuple1.count(50)

3